.chip {
	font-weight: 500;
    color: rgba(0, 0, 0, 0.6);
    padding: 5px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 0;
    margin-left: 80%;
    background-color: #E4E4E4;
    text-align: right;
    border-bottom-left-radius: 16px;
    border-top-left-radius: 16px;
}